body {
    background-color: #71C4C2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: black;
    font-style: italic;
    text-decoration: none;
}
ul{
    margin: 0; padding: 0;
    list-style: none;
}
li{
    margin: 0; padding: 0;
}
.title {
    color:black;
}
.title span{
    color: crimson;
    cursor: pointer;
}
.title span:hover{
     animation: color 2s ease;
}
@keyframes color {
    0% {
        color: crimson;
    }

    50% {
        color: lightcoral;
    }

    75% {
        color: gray;
    }
    100%{
        color: black;
    }
}
.full {
    display: flex;
    justify-content: center;
}
.left {
    position: center;
    background-color: #E3BCB5;
    max-width: 20%;
    padding: 20px;
}
.right {
    position: initial;
    background-color: #E8D8D2;
    padding: 20px;
}
.image img {
    border-radius: 50%;
    transition: transform .5s ease;
}
.image img:hover {
    transform: scale(1.2);
}
.h2 {
    background-color: rgb(4, 96, 150);
}